@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;400;500;700;900&family=IBM+Plex+Sans:wght@100;200;300;500;700&display=swap');

/*  */


*{
	font-family: 'Hanken Grotesk', sans-serif;
	box-sizing: border-box;
}


.para{
	position: absolute;
	margin-top: 1em;
	margin-left: -0.4em;
}

.h1_text{
	font-size: var(--font-size-xxxl);
}

.main-blog{
	margin-top: 7em;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    width: 48rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
}




@media screen and (max-width:600px) {
	.desc{
		width: 100%;
		margin-top: 2em;
		margin-left: 12em ;
	}
}