@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;400;500;700;900&family=IBM+Plex+Sans:wght@100;200;300;500;700&display=swap');



*{
	font-family: 'Hanken Grotesk', sans-serif;
	box-sizing: border-box;
}


.para{
	position: absolute;
	margin-top: 2em;
}