

.projects{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 1050px;
    left: 19em;
    gap: 7em;
}

.more_content{
    position: absolute;
    top: 1400px;
    left: 35em;
    text-decoration: underline;
    font-size: var(--font-size-l);
}



@media screen and (max-width:600px) {
    .projects{
        flex-direction: column;
        top: 1900px;
        left: 8em;
    }
}