

.projects{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 65.256em;
    left: 19em;
    gap: 7em;
}

.more_content{
    position: absolute;
    top: 87.5em;
    left: 35em;
    text-decoration: underline;
    color: var(--light-dark);
    font-size: var(--font-size-l);
}



@media screen and (max-width:600px) {
    .projects{
        flex-direction: column;
        top: 118.75em;
        left: 8em;
    }

    .more_content{
        top: 181.25em;
        left: 11em;
    }
}


@media screen and (min-width:768px) and (max-width:900px) {
    .projects{
        zoom: 0.9;
        flex-direction: row;
        top: 87.5em;
        left: 1em;
    }

    .more_content{
        padding-bottom: 23em;
        top: 100em;
        left: 21em;
    }
} 

/* @media screen and (max-width: 900px){
    .projects{
        left: 3em;
    }

    .more_content{
        left: 24em;
    }
} */