
h2{
    font-weight: 600;
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8em;
}

.contact_bold{
    color: rgb(34, 146, 34);
}

.contact_links{
    width: 50%;
}

.social_icons > div{
    margin: 2em;
}

.contact_links >  span > a{
    text-decoration: none;
    color: black;
}

.contact_links >  span > a{
    text-decoration: underline;
}
 mark{
    background-color: transparent;
 }

.footer1{
    background-color: var(--white);
    height: 320px;
    position: absolute;
    top: 1360px;
    width: 50%;
    left: 34em;
}


@media screen and (max-width:600px) {
    .contact{
        position: absolute;
        top: 56em;
        flex-direction: column;
        gap: 5em;
        left: 39%;
        padding-bottom: 12em;
        text-align: center;
    }

    .social_icons{
        display: flex;
        flex-direction: column;
        gap: 3em;
    }

    .footer1{
        left: 2.7em;
    }

    .reach_out{
        position: absolute;
        top: 19em;
        padding: 7em 0 12em 0 
    }

    .contact_links > mark > h2{
      text-align: center;
      
    }
}