
h2{
    font-weight: 600;
    font-size: var( --font-size-xxxxl);
}

.contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8em;
}

.contact_bold{
    color: rgb(34, 146, 34);
}

.contact_links{
    width: 50%;
}

.social_icons > div{
    margin: 2em;
}

.contact_links >  span > a{
    text-decoration: underline;
}
 mark{
    background-color: transparent;
 }

.footer1{
    background-color: var(--white);
    height: 320px;
    position: absolute;
    top: 1500px;
    width: 50%;
    left: 34em;
}


@media screen and (max-width:600px) {
    .contact{
        position: absolute;
        top: 92em;
        flex-direction: column;
        gap: 5em;
        padding-bottom: 12em;
        text-align: center;
    }

    .social_icons{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .footer1{
        left: 11em;
    }

    .contact_links{
        width: 100%;
        margin-left: -2em;
    }
    .reach_out{
        position: absolute;
        top: 24em;
        padding: 7em 0 12em 0 
    }

    .contact_links > mark > h2{
      text-align: center;
     
    }
}



@media screen and (min-width:768px) and (max-width:900px) {
    h2{
        
    }
 .social_icons{
    flex-direction: column;
    
 }

 .social_icons > div{
    margin: 1em;
 }
 .footer1{
    left: 16em;
    top: 1700px;
    margin-bottom: 13em;
 }
} 

@media screen and (min-width: 900px){
    .footer1{
        left: 20em;
    }
}