.input-main{
    
}



input{
    margin-top: 9em; 
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    height: 46px;
    appearance: none;
    transition: border 0.15s ease 0s;
}

input:focus{
    outline: none;
    box-shadow: none;
    border-color: rgb(100, 153, 255);
}