@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@200;400;500;700;900&family=IBM+Plex+Sans:wght@100;200;300;500;700&display=swap');

:root{
    --dark-black: black;
    --light-dark:#666666;
    --font-size-l: 20px;
    --font-size-m: 17px;
    --font-size-xl: 27px;
    --font-size-xxl: 30px;
    --font-size-xxxl: 32px;
    --font-size-xxxxl: 42px;
    --font-size-xxxxxl: 65px;
    --font-size-xxxxxxl: 100px;
}



.group1{
    background-color: transparent;
    height: 384px;
    left: calc(50.00% - 540px);
    position: absolute;
    top: calc(50.00% - 194px);
    width: 470px;
}

.group2{
    position: relative;
    top: 34em;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12em;
    justify-content: center;
}

.desc-h1{
    margin-top: 0.5rem;
    font-size: var(--font-size-xxxxl);
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
}

.desc-text{
    color: var(--light-dark);
}
.card{
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 63px;
    height: auto;
    justify-content: center;
    position: relative;
    top: calc(50.00% - 165px);
    width: 250px;
}

.card_title{
    font-weight: 600;
    font-size: var(--font-size-l);
}

.card_text{
    
    background-color: transparent;
    color: var(--light-dark);
    font-weight: 400;
    line-height: 27px;
    position: absolute;
    left: -1em;
    text-align: center;
    width: 100%;
}

/* Mobile view  */

@media  screen and (max-width:600px) {
    .group1{
        left: calc(50.00% - 150px);
    }

    .desc-h1{
        font-size: var(--font-size-xxxxl);
    }

    .desc-text{
        width: 30%;
    }

    .card_title{
        font-weight: 600;
    }
    .card_text{
        left: 0.4em;
    }
    .group2{
        flex-direction: column-reverse;
        left: 39%;
    }
}

/* Tablet view  */

@media screen and (min-width:481px) and (max-width:900px) {
    .group1{
        left: calc(50.00% - 276px);
    }

    .group2{
        top: 40em;
        left: 10%;
    }
}



@media screen and (min-width: 900px) {
    .group1{
        top: calc(50.00% - 488px);
        left: calc(50.00% - 256px);
    }

    .group2{
        left: 10%;   
    }
}