

/* 

.logo{
    position: absolute;
   margin-top: 0.6em;
}

.navbar1{
    display: flex;
    justify-content: flex-end;
    float: right;
}


@media  screen and (max-width:600px) {
    .navbar1{
        margin-right: -9em;
        gap: 2em;
    }
}



@media screen and (min-width:768px) and (max-width:900px){
  
} */