



.logo{
    position: absolute;
   margin-top: 0.6em;
}

.navbar1{
    display: flex;
    list-style: none;
    gap: 3em;
    float: right;
    margin-top: 1em;
    justify-content: space-between;
}


@media  screen and (max-width:600px) {
    .navbar1{
        margin-right: -9em;
        gap: 2em;
    }
}


