---
import type {Post} from '../types';
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import { BlogPosts } from "../components/Projects";
import '../styles/blog.css'
import Navbar from '../components/Navbar.astro';

//sort post according to date of publish 
const posts = (await Astro.glob<Post>("./blog/*.{md,mdx}"))
    .filter((post) => !post.frontmatter.draft)
    .sort(
     (a,b) =>
     new Date(b.frontmatter.pubDate).valueOf() -
     new Date(a.frontmatter.pubDate).valueOf()
        )
   
---

<Layout title="/blogs">
  <Navbar links={[
    {
    href: '/',
    title: "Home"
  },
  {
    href: '/projects',
    title: "Projects✨"
  },
      {
    href:'/jokes',
    title: "jokes"
  }
  ]
  }/>  
<main class="max-w-4xl mt-8 lg:mr-auto lg:ml-auto mr-5 ml-5 sm:mx-[5em] ">
  
<p class="para text-3xl font-bold">Read my blogs written in md !</p>

<div class="flex flex-col ml-auto sm: w-full mx-[5em]">
 <BlogPosts posts={posts} client:load />
</div>
</main>
</Layout>


