---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer.astro';
import Project from '../components/Projects.astro';
import Navbar from '../components/Navbar.astro';

import '../styles/main.css'
---

<Layout title="	Home -> aaronspace.studio">
	<main>
		<Navbar />
		<!-- content  -->
		<div class="group1">
			<div class="sub-desc">yo i'm aaron👋🏿</div>
			<h1 class="desc-h1">software developer</h1>
			<span class="desc-text">
				"i'm 19, a backend developer with few years of experience working with various technologies, i play around with front-end too, i consider myself a <b>thinker</b>, i love psychology and i create some thought about life myself"
			</span>
		</div>
		<div class="group2">
			<div class="card">
				<div class="card_details">
					<img src="./images/design1.png" alt="design logo" width="160px">
				</div>
				<div class="card_div">
					<h3 class="card_title">critical thinking</h3>
			        <span class="card_text">I posses the ability to think outside the box on issues am placed with, i like to view the world from different ascept and i don't cease to evolve</span>
				</div>
			</div>
			<div class="card">
				<div class="card_details">
					<img src="./images/design2.png" alt="design logo" width="160px">
				</div>
				<div class="card_div">
					<h3 class="card_title">Adventerous</h3>
			        <span class="card_text">Trying out new things and learn from different experiences could possibly be a hobby for me , i dervie joy in exploring repos and github and learning from each one.</span>
				</div>
			</div>
			<div class="card">
				<div class="card_details">
					<img src="./images/design3.png" alt="design logo" width="160px">
				</div>
				<div class="card_div">
					<h3 class="card_title">Ready to learn</h3>
			        <span class="card_text">I'm always trying my very best to learn new concepts about literally any and everything i can lay my hands upon, <b>daily</b></span>
				</div>
			</div>
		</div>
	</main>
	<Card />
	<Footer />
</Layout>
