---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/Logo.astro';
import Header from '../components/Header.astro';
import '../styles/jokes.css'

// fetching jokes from jokes api 
const response = await fetch("https://official-joke-api.appspot.com/jokes/random")

const data = await response.json()
const jokesSetup = data.setup
const jokesPunchline = data.punchline


---


<Layout>
    <Logo />
    
    <Header links={[
        {
        href: '/blog',
        title: "Blog"
    },
    {
        href: 'https://github.com/aaronteamAAR/',
        title: "Projects✨"
    } ,
    {
        href:'/',
        title: "go back !"
    }
    ]
    } />

  <div class="flex flex-col text-center my-8 md:absolute w-full justify-center sm: mx-[5em]">
    <div class="justify-center m-8">
        <h1>{jokesSetup}</h1>
        <h2>{jokesPunchline}</h2>
    </div>

    <div>
        <span>Yes, you got it right! this page is for weird programming jokes</span>
    </div>

  </div>
</Layout>