---
import Layout from "../layouts/Layout.astro";
import '../styles/card.css'
---

<Layout>
  <div class="projects">
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Auto-commit & push</h2>
        <p class="text-sm">This is a simple python script that helps in workflow productivity as it automates some easy git operations and file monitoring</p>
        <div class="card-actions justify-end">
          <button class="btn base-200">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title ">chatgpt-cli</h2>
        <p class="text-sm">Use chatgpt directly from your command line</p>
        <div class="card-actions justify-end">
          <button class="btn base-200">Buy Now</button>
        </div>
      </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Drone-Program-tello-dijk</h2>
        <p class="text-sm">me testing out drone programming with python on a boring day, super fun!</p>
        <div class="card-actions justify-end">
          <button class="btn base-200">Buy Now</button>
        </div>
      </div>
    </div>
  </div>
  <span class="more_content"> <a href="https://github.com/aaronteamAAR/">see more...</a> </span>
 
</Layout>