---
import Layout from "../layouts/Layout.astro";
import '../styles/card.css'
---

<Layout>
  <div class="grid grid-cols-1 gap-y-5 mx-[8em] md:mx-0 md:grid-cols-2 md:gap-y-8 md:gap-x-4 mt-10">
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Auto-commit & push</h2>
        <p class="text-sm text-lightdark">This is a simple python script that helps in workflow productivity as it automates some easy git operations and file monitoring</p>
        <div class="card-actions justify-end">
          <button class="btn base-200">love it, view it!</button>
        </div>
      </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title ">chatgpt-cli</h2>
        <p class="text-sm text-lightdark">Use chatgpt directly from your command line</p>
        <div class="card-actions justify-end">
          <button class="btn base-200">love it, view it!</button>
        </div>
      </div>
    </div>
    <div class="card w-96 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Drone-Program-tello-dijk</h2>
        <p class="text-sm text-lightdark">me testing out drone programming with python on a boring day, super fun!</p>
        <div class="card-actions justify-end">
          <button class="btn base-200">love it, view it!</button>
        </div>
      </div>
    </div>
    <span class="mx-[10em] md:mx-auto"> <a href="https://github.com/aaronteamAAR/">see more...</a> </span>
  </div>
 
 
</Layout>