---
import Layout  from '../layouts/Layout.astro';
import '../styles/footer.css'
import { Icon } from 'astro-icon'
---


<Layout>
        <div class="footer1 flex flex-row mx-auto my-8">
            <div class="contact">
                <div class="mx-[13em] md:mx-[17em]">
                    <h2 class="font-bold text-3xl mb-6">internet stuffs!</h2>
                    <!-- github -->
                    <div  class="flex flex-row justify-center gap-6 ">
                        <div>
                            <a href="https://github.com/aaronteamAAR/"><Icon name="icon-park:github" /></a>   
                        </div>
                        <!-- twitter  -->
                        <div>
                            <a href="https://twitter.com/aaronoriginator"><Icon name="icon-park:twitter" /></a>
                        </div>
                        <!-- linkiden  -->
                        <div>
                            <a href="https://www.linkedin.com/in/aaron-chris-man-2004"><img src="./images/linkedin.svg" alt=""></a>
                        </div>
                    </div>

                </div>

                <div class="reach_out mx-auto w-full">
                    <div class="contact_links text-center">
                            <h2 class="font-bold text-3xl">contact me for <b class="contact_bold">free!</b></h2>
                        <span class="text-lightdark w-1/2 text-center " >email me at <a href="mailto:aaronchrischuku@gmail.com" class="text-lightdark font-bold">aaronchrischuku@gmail.com</a> or <a href="mailto:rooneychris83@gmail.com" class="text-lightdark font-bold">rooneychris83@gmail.com</a></span>
                    </div>
                   
                </div>

            </div>

            <div class="some_details">

            </div>
        </div>
</Layout>