---
import '../styles/navbar.css'
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <nav class="main-navbar">
            <header class="logo"><img src="./favicon.svg" alt="" srcset=""></header>
        </nav>
    </main>
</Layout>
