---
import '../styles/navbar.css'
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <main>
        <nav class="main-navbar">
            <a href="/"><header class="logo"><img src="./favicon.svg" alt="" srcset=""></header></a>
            
        </nav>
    </main>
</Layout>
