---
import '../styles/navbar.css'
import Layout from '../layouts/Layout.astro';

---

<Layout>
    <main>
        <nav class="mt-8">
            <a href="/"><img src="./favicon.svg" alt="" srcset=""></a>
            
        </nav>
    </main>
</Layout>
