---
import '../styles/navbar.css'
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <nav class="main-navbar">
            <header class="logo"><img src="./images/favicon.svg" alt="" srcset=""></header>
            <ul class="navbar1">
                <li>Blog</li>
                <li>Project✨</li>
                <li>jokes</li>
            </ul>
        </nav>
    </main>
</Layout>
