---
import { Icon } from 'astro-icon';
---

<div
  class="w-[200px] text-[11px] flex items-center justify-center font-medium rounded-lg hover:bg-[#87CB49]"
>
      <a
        href="/"
        rel="noreferrer noopener flex"
        class="flex items-center justify-around hover:text-gray-900"
      >
        <Icon name="ph:spotify-logo-duotone" />
        <p class=" hover:text-gray-900 p-3">Typescript made a server down, still learning it!</p>
      </a>
</div>