---
import Layout from "./Layout.astro";
import Navbar from "../components/Navbar.astro";
import '../styles/blog.css'
import ProgressTracker from "../components/ProgressTracker.astro";
// console.log(frontmatter)
export interface Props {
  content: {
    title: string;
    description: string;
    pubDate: string;
    readingTime: string;
  };
}
const {
  content: { title, description, pubDate, readingTime },
} = Astro.props;


---

<Layout title={title}>
  <Navbar  links={[
    {
    href: '/blog',
    title: "Blog"
},
{
    href: 'https://github.com/aaronteamAAR/',
    title: "Projects✨"
} ,
{
    href:'/',
    title: "go back !"
}
]
} />
  
  <main class="flex flex-col items-center">
    <ProgressTracker />
    <div class="w-[350px] md:w-[750px]">
    <h1 class="text-4xl font-bold mb-4">{title}</h1>
    <div class="flex gap-4">
      <p class="text-sm">{pubDate}</p>
      <p class="text-sm">{readingTime}</p>
    </div>
    <hr class="mt-5 mb-10" />
    <article>
      <slot />
    </article>
    </div>
  </main>
   
 
</Layout>
