---
export interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		

		<slot />
	</body>
</html>
<style is:global>
	:root{
    --dark-black: black;
    --light-dark:#666666;
    --font-size-l: 20px;
    --font-size-m: 17px;
    --font-size-xl: 27px;
    --font-size-xxl: 30px;
    --font-size-xxxl: 32px;
    --font-size-xxxxl: 42px;
    --font-size-xxxxxl: 65px;
    --font-size-xxxxxxl: 100px;
}
	*{
		font-family: 'Hanken Grotesk', sans-serif;
	box-sizing: border-box;
}
</style>
